body {
  /* margin: 0; */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #61afe2; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
}

.top{
  color: #e74c3c;
  font-size: 43px;
  margin-bottom: 20px;
  letter-spacing: 2px;

}
.digital-clock{
  position: relative;
}
.date{
  position: absolute;
  right: 6px;
  top: -52px;
  font-size: 18px;
  color: #e74c3c;
}